.container {
  width: 100%;
}

.section {
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid grey;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 50%;
}
.statList {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  list-style: none;
}
.item {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.label {
}
.percentage {
}
