.table {
  margin: 20px auto 20px;
  padding: 0;
  width: 400px;
  border: 2px solid #aabcfe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.th {
  width: 100%;
  font-weight: normal;
  color: #039;
  background-color: cornflowerblue;
  padding: 10px;
}
td {
  color: #669;
  border: 1px solid #aabcfe;
  padding: 10px 15px;
}
tr:nth-child(2n) {
  background: #e8edff;
}
